*{
    margin: 0;
    padding: 0;
}
.container2{
    display: inline-flex;
    background-color: aqua;
    padding: 38px;
}
<<<<<<< HEAD
.para2{
=======
.para1{
>>>>>>> main
    font-family: 'Courier New', Courier, monospace;
}